{% extends 'base.html' %}

{% block title %}Welcome to Kota Profile{% endblock %}


{% block content %}

{% load static %}

<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static "images/kan.png" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'about' %}" class="btn btn-primary">About me</a>
        </div>

</div>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static "images/kan.png" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'about' %}" class="btn btn-primary">About me</a>
        </div>

</div>

{% endblock %}
